body {
  width: 900px;
  margin: 0 auto;
 background: url("fondoff.jpg")no-repeat;
 background-size: cover;



}
h1 {
  font-family: 'Press Start 2P', cursive;
  font-size: 5rem;
  text-align: center;
  color: rgb(255,255,255)
}
header p {
  font-family: 'Iceland', cursive;
  font-size: 4rem;
  font-weight: bold;
  text-align: center;
 color: rgb(255,255,255)

}

section article {
  width: 33%;
  float: right;
  color: rgb(255,255,255);

}
h2 {
  font-family: 'Iceland', cursive;
  font-size: 3rem;
  font-weight: bold;
  color: rgb(255,255,255)

}
section ul {
  margin-top: 0;
  color:rgb(255,255,255)

  }

  section p{
font-family: 'Bebas Neue', cursive;
    font-size: 20px;

    }

    section li{
      font-family: 'Bebas Neue', cursive;
      font-size: 20px;
    }
